body {
    background-color: #EEE;
    background-image: url("/images/backgrounds/mussels-shells-mytilus-watt-area-53131.jpeg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}
